Source: apt-upchk
Section: admin
Priority: optional
Maintainer: Tatsuki Sugiura <sugi@nemui.org>
Build-Depends-Indep: debhelper (>= 4.0.0), cdbs (>= 0.4.26-2)
Standards-Version: 3.6.2

Package: apt-upchk
Architecture: all
Depends: cron, debconf, libyaml-perl, adduser
Description: package update checker
 apt-upchk checks package updates and report it.
