#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk

TARGETDIR=$(CURDIR)/debian/apt-upchk

install/apt-upchk::
	mkdir -p $(TARGETDIR)/etc/apt-upchk
	cp -a debian/etc-skel/* $(TARGETDIR)/etc/apt-upchk
	mkdir -p $(TARGETDIR)/usr/share/apt-upchk/scripts
	install src/* \
	  $(TARGETDIR)/usr/share/apt-upchk/scripts
	mkdir -p $(TARGETDIR)/usr/share/apt-upchk
	cp -a lib $(TARGETDIR)/usr/share/apt-upchk
	mkdir -p $(TARGETDIR)/var/lib/apt-upchk/cache
	cp -a workroot $(TARGETDIR)/var/lib/apt-upchk

clean::
	debconf-updatepo
